


<%= form_tag('/login')do %>
  <h4><%= label_tag :name%></h4>
  <%= text_field_tag :'user[name]'%>

  <h4><%= label_tag :password%><h4>
  <%= password_field_tag :'user[password]'%><br><br>

  <%= submit_tag 'Login'%>
<% end %>
