

<div class="container">
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <h1>Choose a Story Category</h1><br>



<h3>
<div class="container">
  <div class="row">
    <div class="col-sm-3 well text-center"> <%= link_to"Self Help", category_path("Self Help")%></div>
    <div class="col-sm-1 text-center"></div>
    <div class="col-sm-3 well text-center"><%= link_to "History", category_path("History")%></div>
    <div class="col-sm-1 text-center"></div>
    <div class="col-sm-3 well text-center"><%= link_to "Police Blotter", category_path("Police Blotter")%></div>
  </div>
  <div class="row">
    <div class="col-sm-3 well text-center"><%= link_to "Nursery Rhyme", category_path("Nursery Rhyme")%></div>
    <div class="col-sm-1  text-center"></div>
    <div class="col-sm-3 well text-center"><%= link_to "How-To", category_path("How-To")%></div>
    <div class="col-sm-1  text-center"></div>
    <div class="col-sm-3 well text-center"><%= link_to "Politics", category_path("Politics")%></div>
  </div>
</div>
</h3>

</div>
</div>
