<div class="container">
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <h1>Choose a Story</h1>
    <h3><%= @category %> // <%= link_to"Choose another category", categories_path%> </h3>

  </div>
  </div>

    <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">TITLE</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">AVERAGE RATING</th>
            <th scope="col">DATE CREATED</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @templates.each do |template| %>
             <td><%= link_to template.title, template_path(template) %></td>
             <td><%= link_to template.user.name, user_path(template.user) %></td>
             <td><%= template.avg_rating %></td>
             <td><%= template.created_at.strftime('%B %d, %G') %></td>
             </tr>
            <% end %>


        </tbody>
      </table>
