

<div class="container">
  <div class="jumbotron">
    <h1>Choose a Story Category</h1>



<div class="container">
  <h3>
  <div class="row">
    <div class="col-sm-4 well text-center"> <%= link_to"Self Help", category_path("Self Help")%></div>
    <div class="col-sm-4 well text-center"><%= link_to "History", category_path("History")%></div>
    <div class="col-sm-4 well text-center"><%= link_to "Police Blotter", category_path("Police Blotter")%></div>
  </div>
  <div class="row">
    <div class="col-sm-4 well text-center"><%= link_to "Nursery Rhyme", category_path("Nursery Rhyme")%></div>
    <div class="col-sm-4 well text-center"><%= link_to "How-To", category_path("How-To")%></div>
    <div class="col-sm-4 well text-center"><%= link_to "Politics", category_path("Politics")%></div>
  </div>
</div>

</div>
</div>
