<h1>Choose a Story</h1>

<p>Title</p>
<p>Category</p>
<p>Author</p>
<p>Average Rating</p>
<p>Date Created</p>

<% @templates.each do |template| %>
  <%= link_to template.title, template_path(template) %>

  <%= template.category %>

  <%= link_to template.user.name, user_path(template.user) %>

  <%= template.avg_rating %>

  <%= template.created_at %>
<% end %>
