<div class="container">
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <h1>Create a New Story</h1>
    <p>Enter a title for your story below. Then write your story in the Story Template field. To select your keywords just write what kind of word you'd like the user to fill in surround by hashtags. For example, "This is my story and I'd like the user to input a #noun_1#." This will prompt the user filling out your madlib with a "Noun:" field. Lastly, select a category your story falls into and then click 'Create Template'.</p>
  </div
</div>


<% if @template.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@template.errors.count, "error") %>
      prohibited this story from being saved:
    </h2>

    <ul>
    <% @template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @template, url: templates_path, html: { multipart: true } do |f| %>
  <h3-f><%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :story_template  %><br>
  <%= f.text_area :story_template, cols:40, rows:10 %><br>
  <%= f.label :category %></h3>
  <%= f.select :category,[['Politics', 'Politics'], ['Self Help', 'Self Help'],
  ['Police Blotter','Police Blotter'],['History', 'History'],['How-To', 'How-To'],
  ['Nursery Rhyme', 'Nursery Rhyme']] %> <br><br>

  <%= f.file_field :avatar %>
<br>
  <%= f.submit "Create New Story" %>
<%end%>
