
<div class="container">
    <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">


    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center"> <%= image_tag @user.avatar.url(:medium) %></div>
        <div class="col-sm-8  text-center"> <h1><%= @user.name %></h1></div>
      </div>
    </div>

    </div
    </div>


<h3>Submitted Stories</h3>
    <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STORY NAME</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">AVERAGE RATING</th>
            <th scope="col">DATE CREATED</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @user.templates.each do |template| %>
             <td><%= link_to template.title, template_path(template) %></td>
             <td><%= template.category %></td>
             <td><%= template.avg_rating %></td>
             <td> <%= template.created_at.strftime('%B %d, %G')  %></td>
             </tr>
            <% end %>
        </tbody>
      </table>



<h3>Completed Stories</h3>
<br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STORY NAME</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">USER RATING</th>
        <th scope="col">DATE CREATED</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @user.completed_stories.each do |completed_story| %>
         <td><%= link_to completed_story.template.title, completed_story_path(completed_story) %></td>
         <td><%= completed_story.template.category %></td>
         <td><%= completed_story.temp_rating %></td>
         <td><%= completed_story.created_at.strftime('%B %d, %G') %></td>
         </tr>
        <% end %>
    </tbody>
  </table>



</div
</div>
