
<div class="container">
  <div class="jumbotron">
    <%= image_tag @user.avatar.url %>
    <h1>Welcome <%= current_user.name %></h1>
    <p>Play madlibs, create your own stories, see other user's stories.</p>
  </div
</div>




<%= image_tag @random_story.template.avatar.url %>
<h3><%= @random_story.template.title %></h3>
<p>Category: <%= link_to @random_story.template.category, category_path(@random_story.template.category) %></p>
<p>Written by: <%= link_to @random_story.template.user.name, user_path(@random_story.template.user) %></p>
<p>Filled out by: <%= link_to @random_story.user.name, user_path(@random_story.user) %></p>

<p><%= @random_story.finished_story %></p>

<p><%= link_to 'Play this story!', template_path(@random_story.template) %></p>
