
<div class="container">
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center"> <%= image_tag @user.avatar.url(:medium) %></div>
        <div class="col-sm-8  text-center"><h1>Welcome <%= current_user.name %></h1></div>
      </div> <br>
    <p>Play madlibs, create your own stories, see other user's stories.</p>
  </div>
</div>




  <%= image_tag @story_from_pop_temp.template.avatar.url(:medium) %>

  <h3><%= @story_from_pop_temp.template.title %></h3>
  <p>Category: <%= link_to @story_from_pop_temp.template.category, category_path(@story_from_pop_temp.template.category) %></p>
  <p>Written by: <%= link_to @story_from_pop_temp.template.user.name, user_path(@story_from_pop_temp.template.user) %></p>
  <p>Filled out by: <%= link_to @story_from_pop_temp.user.name, user_path(@story_from_pop_temp.user) %></p>

  <p><%= @story_from_pop_temp.finished_story %></p>

  <p><%= link_to 'Play this story!', template_path(@story_from_pop_temp.template) %></p>
