<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <style> body {background-color: coral;}</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "HOME", "/"  %></li>
      <li><%= link_to "PLAY MADLIBS", categories_path  %></li>
      <li><%= link_to "CREATE A MADLIBS STORY", new_template_path  %></li>
      <li><%= link_to "VIEW PROFILE", user_path(current_user) %></li>
      <li><%= link_to "QUICK START", template_path(@template) %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
