<!DOCTYPE html>
<html lang="en">
<head>
  <title>Madlibs!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/users.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron" style="background:transparent url(/assets/background.jpg) no-repeat center /cover">
    <h1>MADLIBS!</h1>
    <p>Play madlibs, create your own stories, see other user's stories.</p>
  </div>


  <div class="col-sm-4"><%= yield %></div>
  <div class="col-sm-8">
    <div class="row well">
      <div class="col-sm-4"><%=image_tag("oparh_winfrey.jpeg", size:"150x188")%></div>
      <div class="col-sm-8 text-right"><h4>"Pintpoint your butt." <br><br> - Oprah Winfrey</h4></div>
    </div>

    <div class="row well">
      <div class="col-sm-8 text-right"><h4>"Secretary of State Rex Tillerson was reported to have called the president a “butthead”." <br><br> - Tobias Funke</h4></div>
      <div class="col-sm-4 text-right"><%= image_tag("tobias_funke.jpg", size:"150x188") %></div>
    </div>

    <div class="row well">
      <div class="col-sm-4"><%= image_tag("aladdin.jpeg", size:"150x188") %></div>
      <div class="col-sm-8 text-right"><h4>"It might be worth a little experimenting to see for yourself whether your num chuck game improves following sex." <br><br> - Aladdin</h4></div>
    </div>

    <div class="row well">
      <div class="col-sm-8 text-right"><h4>"There is tremendous jelly beans in just being Tom Cruise." <br><br> - Nicolas Cage</h4></div>
      <div class="col-sm-4 text-right"><%= image_tag("nicolas_cage.jpg", size:"150x188") %></div>
    </div>
 </div>
</div>

</body>
</html>
